.search-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 60vw;
    padding: 0.5em 0.5em;
    border-radius: 0.3em;
    margin: 1em auto;
    font-size: 0.85rem;
}

.search-button {
    background-color: rgb(20, 69, 167);
    color: white;
    padding: 0.2rem 0.5em;
    border: solid black 1px;
    border-radius: 0.3rem;
    cursor: pointer;
}
